rules_version = '2';
service cloud.firestore {
  match /databases/ai-studio-rusthub-2e66bd8d-85dd-4eba-bb83-f354ddc97d59/documents {
    match /chat_users/{userId} {
      allow read: if true;
      allow update: if (request.auth.uid == 'serustqs') ||
                       (request.auth.uid == userId && (!('clanTag' in request.resource.data) || request.resource.data.clanTag == resource.data.clanTag));
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
